// For Tablets

@media screen and (max-width: 1024px) {
    .container {
        width: 90%;
    }
    .cheese-cake-img {
        width: 100%;
    }
}

// For smaller screens
@media screen and (max-width: 768px) {
    h1 {
        font-size: 3.5rem;
    }

    h2 {
        font-size: 3rem;
    }

    h3 {
        font-size: 2.5rem;
    }

    h4 {
        font-size: 2rem;
    }

    h5 {
        font-size: 1.5rem;
    }

    h6 {
        font-size: 1rem;
    }

    p {
        font-size: 12px;
    }

    .main-header {
        margin-top: 2rem;
    }

    .ingredients-section {
        .wrapper {
            flex-direction: column;
        }

        .aside-bar {
            box-shadow: none;
            background-color: transparent;
            display: grid;
            justify-content: center;
            align-items: center;
            padding: 0;
            grid-template-areas:
            'yields yields yields'
            'prep cook total';

            .info {
                .title {
                    font-size: 8px;
                }
                .description {
                    font-size: 10px;
                }

                i {
                    font-size: 1rem;
                }
            }

            .info:first-child {
                grid-area: yields;
            }
            .info:nth-child(2) {
                grid-area: prep;
            }
            .info:nth-child(3) {
                grid-area: cook;
            }
            .info:nth-child(4) {
                grid-area: total;
            }
        }

        .ingredients-content {
            width: 100%;
        }
        
    }
}
